.logo-container img {
    /* (Optional) can be defined by flexbox*/
    width: 15%;

    /* Specify aspect ratio */
    aspect-ratio: 1/1;
    
    /* Keep the image within aspect ratio */
    object-fit: contain;

    /* Covert white bg into transparent */
    mix-blend-mode: color-burn;
}